.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.compare-btn,
.login-btn {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.compare-btn {
  background-color: #ff0000;
  color: white;
}

.login-btn {
  background-color: white;
  color: black;
}
